/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    padding: 0;
    margin: 0;
}

 
body {
    display: flex;
}

/* Right Side of Screen */
input {
    border: 2px solid #000;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
  }
  
input:invalid:not(:placeholder-shown) {
    border-color: red;
}

input:valid {
    border-color: green;
}

.hook {
    font-family: Montserrat, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    padding: 10px 0; 
    margin-left: 50px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
    color: #6C19FF;
}

.form {
    font-family: Montserrat, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em; 
    padding: 10px 0; 
    margin-left: 50px;
    color: #6C19FF;
    background-color: #F8F8F8;
}

a {
    color: #6C19FF;
}

main div p {
    margin-bottom: 20px;
}

/* Image and Logo */

.image-container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
  
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.logo {
    display: flex;
    height: auto;
    gap: 1vw;
    padding: 15px 0; 
    margin: 0 auto; 
    justify-content: center;
    align-items: center;
    width: 40.5%;
    position: absolute; 
    top: 0;
    left: 0; 
    z-index: 0;
}

.logo-img {
    width: 20%;
    height: auto;
}

.logo-name {
    font-family: Norse, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 3em;
    color: #C2FFFF;
}

/* Color Scheme

#C2FFFF light blue
#7DEBF5 darker blue
#3DD9EB even darker blue
#6C19FF purple

*/

